<p>
    
<b>
Dr.
<%= comment.commenter %><br>

 Date: </b><%= comment.created_at.strftime("%Y-%m-%d") %>
 <b>Time: </b><%= comment.created_at.localtime.strftime("%H:%M:%S") %></p>

 
<p>
  
  <%= comment.body %>
</p>

<p>

  <center><%= link_to 'Delete Comment', [comment.patient, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p></center>