<button class="button"><big><b><%= link_to 'CREATE NEW PATIENT', new_patient_path %></b></big></button>
<br>
<center><h1><b>LIST OF PATIENTS</b></h1>
 <table border=1>
<tr>
   <h2> <th><b>Registration ID</b></th>
        <th><b>Name</b></th>
  
 
</h2>
<th colspan ="20"></th></tr>
 
  <% @patients.each do |patient| %>
    <h3><tr>
<td><%= patient.regid %></td>
      <td><%= patient.name %></td>
      
      <td><button class="button"><big><b><%= link_to 'SHOW', patient_path(patient) %></b></big></button></td>
      <td><button class="button"><big><b><%= link_to 'EDIT', edit_patient_path(patient) %></b></big></button></td>
      <td><button class="button"><big><b><%= link_to 'DELETE', patient_path(patient),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></b></big></button></td>
    
    </tr></h3>
  <% end %>
</table><h3>
<br>
