
<% if user_signed_in? %>
<% if current_user.email =='doctor@gmail.com' %>
<br>
<center><h1><b>LIST OF PATIENTS</b></h1>
 <table border=1>
<tr>
   <h2> <th><b><%= sortable "regid" %></b><% if sort_column =='regid' %>
               <% if sort_direction =='asc' %><span> (&uarr;)</span>
               <% else %><span>(&darr;)</span><% end %><% end %></th>
        <th><b><%= sortable "name" %></b><% if sort_column =='name' %>
               <% if sort_direction =='asc' %><span>(&uarr;)</span>
               <% else %><span>(&darr;)</span><% end %><% end %></th>
 
</h2>
<th colspan ="20"></th></tr>
 
  <% for patient in @patients %>
    <h3><tr>
      <td><%= patient.regid %></td>
      <td><%= patient.name %></td>
      
      <td><button class="button"><big><b><%= link_to 'SHOW', patient_path(patient) %></b></big></button></td>
      <td><button class="button"><big><b><%= link_to 'EDIT', edit_patient_path(patient) %></b></big></button></td>
      <td><button class="button"><big><b><%= link_to 'DELETE', patient_path(patient),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></b></big></button></td>
    
    </tr></h3>
  <% end %>
</table><h3>
<br>
<% else %>
<h1> UNAUTHORISED ACCESS <h1>
<button class="button"><big><b><%= link_to 'GO BACK', welcome_index_path %></b></big></button>
<% end %>
<% else %>
<h1> UNAUTHORISED ACCESS <h1>
<button class="button"><big><b><%= link_to 'GO BACK', welcome_index_path %></b></big></button>
<% end %>

