<h1>NEW PATIENT</h1>

<%= form_with scope: :patient, url: patients_path, local: true do |form| %>
 
   
<p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :age %><br>
    <%= form.text_field :age %>
  </p>
<p>
    <%= form.label :gender %><br>
    <%= form.text_field :gender %>
  </p>
 <p>
    <%= form.label :height %><br>
    <%= form.text_field :height %>
  </p>
 <p>
    <%= form.label :weight %><br>
    <%= form.text_field :weight %>
  </p>
 <p>
    <%= form.label :bloodgroup %><br>
    <%= form.text_field :bloodgroup %>
  </p>

 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<button class="button"><big><b><%= link_to 'Back', patients_path %></b></big></button>