<h2><big><b>PATIENT DATA</b></big></h2>
<table>
<tr>
<td><strong>Name:</strong></td>
<td><%= @patient.name %></td>
</tr>

<tr>
<td><strong>Age:</strong></td>
<td><%= @patient.age %></td>
</tr>

<tr>
<td><strong>Height:</strong></td>
<td><%= @patient.height %></td>
</tr>
  
<tr>
<td><strong>Bloodgroup:</strong></td>
<td><%= @patient.bloodgroup %></td>
</tr>

<tr>
<td><strong>weight:</strong></td>
<td><%= @patient.weight %></td>
</tr>
  
<tr>
<td><strong>comments:</strong></td>
<td><%= @patient.comments %></td>
</tr>

</table>

<hr/>
<h2><big><b>DIAGNOSIS:</b></big></h2>

<% if File.exists?"/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.name}.txt" %>
<table border="2">

<% i=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.name}.txt").each_line do |line| %>
<% break if i==28%>
<% i=i+1 %>

<% if i==1 %>
<tr>
<th><big><%= line %></big></th>

<% else %>
<% if i==2 %>
<th><big><%= line %></big></th>

<% else %>
<% if i==3 %>
<th><big><%= line %></big></th>

<% else %>
<% if i==4 %>
<th><big><%= line %></big></th>
</tr>

<% else %>
<% if i%4==1 %>
<tr>
<td><%= line %></td>

<% else %>
<% if i%4==2 %>
<td><%= line %></td>

<% else %>
<% if i%4==3 %>
<td><%= line %></td>

<% else %>
<td><%= line %></td>
</tr>

<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
</table>
<% else %>
<h3>Data Not yet Acquired<h3>
<% end %>


<br>
<hr />
<h2><big><b>INFERENCE:</b></big></h2>
<br>
<% if File.exists?"/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.name}inf.txt" %>
<% i=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.name}inf.txt").each_line do |line| %>
<% i=i+1 %>
<% end %>
<table>
<% j=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.name}inf.txt").each_line do |line| %>
<% break if j==i %>
<% j=j+1 %>
<tr>
<td><%= j %>. </td>
<td><%= line %></td>
</tr>
<% end %>
</table>
<% end %>

<h2>Comments</h2>
<%= render @patient.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<br><center><%= link_to 'Edit', edit_patient_path(@patient) %>

<%= link_to 'Back', patients_path %></center>