<% if current_user.email =='hospital@gmail.com' or current_user.email=='doctor@gmail.com' %>
<fieldset>
<legend><h2><big><b>PATIENT DATA</b></big></h2></legend>

<table>

<tr>
<td><strong>Registration ID:</strong></td>
<td><%= @patient.regid %></td>
</tr>

<tr>
<td><strong>Name:</strong></td>
<td><%= @patient.name %></td>
</tr>

<tr>
<td><strong>Age:</strong></td>
<td><%= @patient.age %></td>
</tr>

<tr>
<td><strong>gender:</strong></td>
<td><%= @patient.gender %></td>
</tr>

<tr>
<td><strong>Height:</strong></td>
<td><%= @patient.height %></td>
</tr>
  
<tr>
<td><strong>Bloodgroup:</strong></td>
<td><%= @patient.bloodgroup %></td>
</tr>

<tr>
<td><strong>weight:</strong></td>
<td><%= @patient.weight %></td>
</tr>
  
</table>
</fieldset>
<% end %>

<% if current_user.email =='hospital@gmail.com' %>

<center>
<button class="button"><big><b><%= link_to 'EDIT', edit_patient_path(@patient) %></b></big></button>
<button class="button"><big><b><%= link_to 'DELETE', patient_path(@patient),

              method: :delete,

              data: { confirm: 'Are you sure?' } %></b></big></button>
<button class="button"><big><b><%= link_to 'BACK', welcome_index_path %></b></big></button>
</center>

<% end %>


<% if current_user.email =='doctor@gmail.com' %>

<center>
<button class="button"><big><b><%= link_to 'EDIT', edit_patient_path(@patient) %></b></big></button>
<button class="button"><big><b><%= link_to 'BACK', patients_path %></b></big></button>
</center>


<% if File.exists?"/home/pi/FinalWebapp2/app/assets/images/plots/#{@patient.regid}.png" %>
<fieldset>
<legend><h2><big><b>ACQUIRED PPG SIGNAL</b></big></h2></legend>
<% if File.exists?"/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}.txt" %>
<% i=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}.txt").each_line do |line| %>
<% i=i+1 %>
<% end %>

<% k=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}.txt").each_line do |line| %>
<% k=k+1 %>
<% if k==i %>
<strong><%= line %></strong>
<% end %>
<% end %>
<% end %>
<%= image_tag("/assets/plots/#{@patient.regid}.png", :size=>"10*10", :alt=>"test") %>
</fieldset>
<% end %>
<br>

<fieldset>
<legend><h2><big><b>DIAGNOSIS:</b></big></h2></legend>

<% if File.exists?"/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}.txt" %>
<% i=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}.txt").each_line do |line| %>
<% i=i+1 %>
<% end %>

<% k=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}.txt").each_line do |line| %>
<% k=k+1 %>
<% if k==i %>
<strong><%= line %></strong>
<% end %>
<% end %>
<br>
<br>
<table border="2">

<% j=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}.txt").each_line do |line| %>
<% if j<i-1 %>
<% j=j+1 %>

<% if j==1 %>
<tr>
<th><big><%= line %></big></th>

<% else %>
<% if j==2 %>
<th><big><%= line %></big></th>

<% else %>
<% if j==3 %>
<th><big><%= line %></big></th>

<% else %>
<% if j==4 %>
<th><big><%= line %></big></th>
</tr>

<% else %>
<% if j%4==1 %>
<tr>
<td><%= line %></td>

<% else %>
<% if j%4==2 %>
<td><%= line %></td>

<% else %>
<% if j%4==3 %>
<td><%= line %></td>

<% else %>
<td><%= line %></td>
</tr>

<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
</table>


<% else %>
<h3>Data Not yet Acquired<h3>
<% end %>
</fieldset>

<br>

<fieldset>
<legend><h2><big><b>INFERENCE:</b></big></h2></legend>
<br>
<% if File.exists?"/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}inf.txt" %>
<% i=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}inf.txt").each_line do |line| %>
<% i=i+1 %>
<% end %>
<table>
<% j=0 %>
<% File.open("/home/pi/Desktop/DATABASE/PARAMETERS EXTRACTED/#{@patient.regid}inf.txt").each_line do |line| %>
<% break if j==i %>
<% j=j+1 %>
<tr>
<td><%= j %>. </td>
<td><%= line %></td>
</tr>
<% end %>
</table>
<% end %>

</fieldset>

<br>

<fieldset>
<legend><h2>DISCUSSION FORUM:</h2></legend>
<%= render @patient.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</fieldset>
<br>
<br>
<% end %>